manifest {
  description = 'Colocalisation pipeline for GWAS'
  author = 'Urmo Võsa'
  nextflowVersion = '>=20.07.1'
  version = '0.5'
  mainScript = 'RunHyprColocOnGWAS.nf'
}

params {
  OutputDir = './results'
  custom_config_version = 'master'
  tracedir = "${params.OutputDir}/pipeline_info"

  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
}

//Define Docker/Singularity container
process.container = 'quay.io/urmovosa/gwaseqtlhyprcoloc:v0.3'

includeConfig 'conf/base.config'
includeConfig 'conf/params.config'

profiles {
  slurm { includeConfig 'conf/slurm.config'}
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = "$baseDir/singularity_img/"
  }
  docker {
    docker.enabled = true
    docker.temp = 'auto'
  }
  conda { process.conda = "$baseDir/GwasHyprColoc.yml" }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.tracedir}/nf-core/Colocalization_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/nf-core/Colocalization_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/nf-core/Colocalization_trace.txt"
  overwrite = true
}
dag {
  enabled = true
  file = "${params.tracedir}/nf-core/Colocalization_dag.svg"
}


// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
